/********************** colors palette with sodu class selector *********************/
:root {
  --color-primary: #fff685;
  --color-secondary: #ee1c25;
  --color-dark: #000;
  --color-body: #e7e7e8;
  --color-heading: #000000;
  --color-border: #707070;
  --color-text-black: #000;
  --color-text-gray: #646466;
  --color-text-gold: #d2ac67;
  --color-text-red: #d2ac67;
  --color-text-navyBlue: #004a85;
  --border-radius: 15px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/****************************** Section Typography **********************************/
::selection {
  background: var(--color-secondary);
  color: #fff;
}
html {
  /* 62.5% -> 62.5 * 16px = 10px */
  /* for relative font-size with browser setting */
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-family: 'IRANSans', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.7rem;
  }
}

/************************************** lists *******************************/
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-heading);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/*************************************** Icons **********************************/
.icon {
  width: 60px;
  height: 60px;
}

.icon--small {
  width: 35px;
  height: 35px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

.icon--black {
  fill: var(--color-dark);
}
